body{
    font-family: Arial, Helvetica, sans-serif;
}

.todo-grid, .todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px ;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.todo-input-grid{
    margin-bottom: 20px;
    align-items: stretch;
}
.name-input, .due-date-input{
    padding: 10px;
    font-size: 16px;
}
.add-button{
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.delete-button{
    padding: 5px;
    font-size: 14px;
    background-color: #a32c23;
    color: white;
    border: none;
    cursor: pointer;
}